{% extends "base.html" %}
{% load i18n %}
{% block title %}Employer Breakdown{% endblock %}
{% block javascript %}
<script type="text/javascript">
    window.onload = function() {
        var chart = new CanvasJS.Chart("emplBDGraph", {{ CHART_DATA|safe }} );
        chart.render();
    }
</script>
<script type="text/javascript" src="/static/libs/canvasjs.min.js"></script>
{% endblock %}
{% block pageheader %}
<h4><a href='/emplbreakdown'> &larr; Go Back to Month Selection</a></h4>
{% endblock %}
{% block body %}
<div id="emplBDGraph" style="width:100%;height:5000px"></div>
{% endblock %}
